#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.checkbox--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10.6px;
  flex: 1 0 0;
  justify-content: flex-start;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 0.15em solid #282938;
  border-radius: 0.15em;
  transform: translatey(-0.075em);
}
#saveBtn {
  background-color: yellowgreen;
  padding: 4px;
  border: none;
  border-radius: 4px;
}
#saveBtn:hover {
  background: rgb(2, 99, 2);
  color: white;
}
#closeBtn {
  background: #202032;
  color: white;
  padding: 3px 19px;
  border: none;
  border-radius: 4px;
  margin: 7px;
}
#closeBtn:hover {
  background: orangered;
}
form label span {
  color: white;
}

.button-1 {
  background-color: #3ec34e;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 7px 12px 0 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
.button-1:disabled {
  opacity: 0.5;
}
.makeRedBg {
  background-color: rgb(212, 160, 64);
}
